<%= simple_form_for(@training) do |f| %>
<%= f.error_notification %>

<div class="form-horizontal">
  <legend>
    <i class="fa fa-tags"></i>
    Dados Gerais
  </legend>
  <div class="form-group field">
    <label for="paciente" class="control-label col-sm-2">Paciente</label>
    <div class="col-sm-9">
      <%= f.collection_select(:patient_id, current_user.patients, :id, :name, prompt: 'Por favor selecione o paciente' , class: 'form-control') %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="data">Dia da Semana</label>
    <div class="col-sm-9">
      <%= f.text_field :weekDay, :placeholder => 'Digite o dia da semana em que será realizado o treino', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="horario">Grupos Musculares</label>
    <div class="col-sm-9">
      <%= f.text_field :muscularGroups, :placeholder => 'Digite os grupos musculares que serão treinados', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="preco">Descrição</label>
    <div class="col-sm-9">
      <%= f.text_area :description, :placeholder => 'Digite a descrição geral do treino', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group field">
    <label class="control-label col-sm-2" for="dateStart">Data de Início</label>
    <%= f.date_select :dateStart %>
  </div>
  <div class="form-group field">
    <label class="control-label col-sm-2" for="dateStart">Data de fim</label>
    <%= f.date_select :dateEnd %>
  </div>
  <div class="form-group field">
    <label class="control-label col-sm-2" for="dateStart">Duração</label>
    <%= f.time_select :duration %>
  </div>
  <legend class="div-content">
    <i class="fa fa-star"></i>
    Exercícios</legend>
  <h5 class="text-danger">
    Adicione novos exercícios ao treino.
  </h5>
  <div>
    <%= f.simple_fields_for :exercises do |exercise| %>
    <%= render "exercise_fields", :f => exercise %>
    <% end %>
  </div>
  <div class="div-content">
    <%= link_to_add_association 'Adicionar Exercício', f, :exercises, :class => "btn btn-primary" %>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-5">
      <button class="btn btn-primary btn-lg" type="submit">
        <i class="fa fa-save"></i>
        Salvar
      </button>
    </div>
  </div>
</div>
<% end %>
