<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1">
          <h1 class="col-xs-offset-1"><i class="fa fa-bullseye"></i> Treinos</h1>
          <h4 class="col-xs-offset-1">Tenha acesso a todos os treinos de seus pacientes de todas as suas clínicas, adicione novos, atualize-os...</h4>
          <div class="table-responsive col-xs-12 div-content">
            <table class="table table-hover">
              <tr>
                <td class="text-center"><strong>Paciente</strong></td>
                <td class="text-center"><strong>Dia da Semana</strong></td>
                <td class="text-center"><strong>Grupos Musculares</strong></strong></td>
                <td class="text-center"><strong>Descrição</strong></td>
                <td class="text-center"><strong>Data de Início</strong></td>
                <td class="text-center"><strong>Data de término</strong></td>
                <td class="text-center"><strong>Duração</strong></td>
                <td class="text-center"><strong>Opções</strong></td>
              </tr>
							<% current_patient.trainings.each do |training| %>
								<tr>
									<td class="text-center">
										<%= training.patient.name%>
									</td>
									<td class="text-center">
										<%= training.weekDay%>
									</td>
									<td class="text-center">
										<%= training.muscularGroups%>
									</td>
									<td class="text-center">
										<%= training.description%>
									</td>
									<td class="text-center">
										<%= training.dateStart%>
									</td>
									<td class="text-center">
										<%= training.dateEnd%>
									</td>
									<td class="text-center">
										<%= training.duration%>
									</td>
									<td class="text-center">
										<%= link_to '', training, title: 'Details', class: 'btn btn-success btn-xs fa fa-ellipsis-h' %>
									</td>
								</tr>
							<% end %>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
