<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1 panel-margin">
          <h1 class="col-xs-offset-1"><i class="fa fa fa-check-circle"></i> Detalhes da Realização do Treino</h1>
          <h4 class="col-xs-offset-1">Veja todos os detalhes sobre a realização de treinos de seus pacientes.</h4>
          <div class="div-content">
            <div class="panel panel-default col-xs-10 col-xs-offset-1">
              <div class="form-horizontal">
                <legend>
                  <i class="fa fa-tags"> Informações Gerais</i>
                </legend>
                <div class="form-group">
                  <label for="date" class="control-label col-sm-2">Data</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" value="<%= @realization.date %>" disabled/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="patient" class="control-label col-sm-2">Paciente</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" value="<%= @realization.patient.name %>" disabled/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="muscularGroups" class="control-label col-sm-2">Treino</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" value="<%= @realization.training.muscularGroups %>" disabled/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="status" class="control-label col-sm-2">Status</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" value="<%= @realization.status %>" disabled/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="observation" class="control-label col-sm-2">Observação</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" disabled><%= @realization.observation %></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
