<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1">
          <h1 class="col-xs-offset-1"><i class="fa fa-plus-circle"></i> Detalhes da Clínica</h1>
          <h4 class="col-xs-offset-1">Visualize o perfil detalhado da sua clínica.</h4>
          <div class="div-content">
            <div class="panel panel-default col-xs-10 col-xs-offset-1">
              <div class="form-horizontal">
              <legend>
                <i class="fa fa-tags"></i> Dados Gerais
              </legend>
              <div class="form-group field">
                <label for="nome" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-9">
                   <input type="text" class="form-control" value="<%=@clinic.name%>" disabled />
                </div>
              </div>
              <div class="form-group field">
                <label for="telefone1" class="col-sm-2 control-label">Telefone 1</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%=@clinic.telephone1%>" disabled />
                </div>
              </div>
              <div class="form-group field">
                <label for="telefone2" class="col-sm-2 control-label">Telefone 2</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%=@clinic.telephone2%>" disabled />
                </div>
              </div>
              <div class="form-group field">
                <label for="cpf" class="control-label col-sm-2">CPF/CNPJ</label>
                <div class="col-sm-9">
                     <input type="text" class="form-control" value="<%= @clinic.cpfCnpj%>" disabled />
                </div>
              </div>
              <legend>
                <i class="fa fa-map-marker"></i> Dados de Endereço
              </legend>

              <div class="form-group">
                <label for="bairro" class="control-label col-sm-2">Bairro</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="Digite o nome do seu Bairro" class="form-control" disabled />
                </div>
              </div>
              <div class="form-group">
                <label for="rua" class="control-label col-sm-2">Rua</label>
                <div class="col-sm-5">
                  <input type="text" placeholder="Digite o nome do seu Bairro" class="form-control" disabled />
                </div>
                <label for="numero" class="control-label col-sm-2">Número</label>
                <div class="col-sm-2">
                  <input type="text" placeholder="Digite o número da sua residência" class="form-control" disabled />
                </div>
              </div>
              <div class="form-group">
                <label for="cep" class="control-label col-sm-2">CEP</label>
                <div class="col-sm-5">
                  <input type="text" placeholder="Insira seu CEP" class="form-control" disabled />
                </div>
                <label for="referencia" class="control-label col-sm-2">Referência</label>
                <div class="col-sm-2">
                  <input type="text" placeholder="Digite sua referência" class="form-control" disabled />
                </div>
              </div>
              <div class="form-group">
                <label for="cidade" class="control-label col-sm-2">Cidade</label>
                <div class="col-sm-9">
                  <select class="form-control" disabled>
                    <option>Xanxerê</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="estado" class="control-label col-sm-2">Estado</label>
                <div class="col-sm-9">
                  <select class="form-control" disabled>
                    <option>Santa Catarina</option>
                  </select>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
