<section class="sidebar">
  <ul class="sidebar-menu">
    <li>
      <%= link_to ' Dashboard', dashboard_path, class: 'fa fa-dashboard' %>
    </li>
    <li>
      <%= link_to t('clinics'), clinics_path, class: 'fa fa-hospital-o' %>
    </li>
    <li>
      <%= link_to t('patients'), patients_path, class: 'fa fa-users' %>
    </li>
    <li>
      <%= link_to t('appointments'), appointments_path, class: 'fa fa-book' %>
    </li>
    <li>
      <%= link_to t('diets'), diets_path, class: 'fa fa-cutlery' %>
    </li>
    <li>
      <%= link_to t('trainings'), trainings_path, class: 'fa fa-bullseye' %>
    </li>
    <li>
      <%= link_to t('ratings'), ratings_path, class: 'fa fa-certificate' %>
    </li>
    <li>
      <%= link_to t('weighings'), weighings_path, class: 'fa fa-building' %>
    </li>
    <li>
      <%= link_to t('measurements'), measurements_path, class: 'fa fa-arrows-v' %>
    </li>
    <li>
      <%= link_to t('realizations'), realizations_path, class: 'fa fa-check-circle' %>
    </li>
    <li>
      <%= link_to t('schedule1'), compromises_path, class: 'fa fa-calendar' %>
    </li>
  </ul>
</section>
