<nav class="navbar navbar-static-top" role="navigation">
  <%= link_to image_tag("logo.png"), root_path, title: 'Home', class: 'logo' %>
  <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <div class="container">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if current_patient.present? %>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= image_tag current_patient.cover.url(:thumb),class:'tamanho'%>
            <span class="hidden-xs">
              <%= current_patient.name %>
              <span class="caret"></span>
            </span>
          </a>
          <ul class="dropdown-menu list-unstyled" id="drop-menu">
            <li>
                <%= link_to t('myprofile'), edit_patient_registration_path, class: 'fa fa-user' %>
            </li>
            <li>
              <%= link_to t('about1'), about_path, class: 'fa fa-info-circle', target: 'blank' %>
            </li>
            <li>
              <%= link_to t('callcenter1'), help_path, class:'fa fa-support', target: 'blank' %>
            </li>
            <li>
                <%= link_to t('logout'), destroy_patient_session_path, :method => :delete, class: 'fa fa-sign-out' %>
            </li>
          </ul>
        </li>
        <% end %>
          <% if current_user.present? %>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">

              <%= image_tag current_user.cover.url(:thumb),class:'tamanho'%>
            <span class="hidden-xs">
              <%= current_user.name %>
              <span class="caret"></span>
            </span>

          </a>
          <ul class="dropdown-menu list-unstyled" id="drop-menu">
            <li>
                <%= link_to t('myprofile'), edit_user_registration_path, class: 'fa fa-user' %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to t('about1'), about_path, class: 'fa fa-info-circle', target: 'blank' %>
            </li>
            <li>
              <%= link_to t('callcenter1'), help_path, class:'fa fa-support', target: 'blank' %>
            </li>
            <li>
                <%= link_to t('logout') , destroy_user_session_path, :method => :delete, class: 'fa fa-sign-out' %>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
