<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div id="root_panel" class="panel panel-default col-xs-10 col-xs-offset-1 slim-heigth">
          <div class="col-xs-offset-1">
            <p class="lead text-danger">
              <%= notice %>
            </p>
          </div>
          <h1 class="col-xs-offset-1 div-content"><%= t('welcome') %> <% if current_user.present? %> <%= current_user.name %> <% elsif current_patient.present? %> <%=current_patient.name%> <% end %>:</h1>
          <h4 class="col-xs-offset-1 div-content"><%= t('after_login_one') %></h4>
          <h4 class="col-xs-offset-1"><%= t('after_login_two') %></h4>
          <h4 class="col-xs-offset-1"><%= t('after_login_three') %></h4>
					<% if current_user.present? %>
						<h4 class="col-xs-offset-1 text-danger line-height"><%= t('after_login_six') %></h4>
					<% end %>
          <h4 class="col-xs-offset-1"><%= t('after_login_four') %></h4>
          <h4 class="col-xs-offset-1"><%= t('after_login_five') %></h4>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
