<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div id="root_panel" class="panel panel-default col-xs-10 col-xs-offset-1 slim-heigth">
          <div class="col-xs-offset-1">
            <p class="lead text-danger">
              <%= notice %>
            </p>
          </div>
          <h1 class="col-xs-offset-1 div-content">Seja Muito Bem-Vindo(a) <% if current_user.present? %> <%= current_user.name %> <% elsif current_patient.present? %> <%=current_patient.name%> <% end %></h1>
          <h4 class="col-xs-offset-1 div-content">Você já está logado no nosso sistema. Faça bom proveito de todas as suas funcionalidades.</h4>
          <h4 class="col-xs-offset-1">No lado esquerdo você tem um menu de acesso rápido para executar todas as suas ações.</h4>
          <h4 class="col-xs-offset-1">Em caso de qualquer dúvida você pode visitar a sessão de suporte, presente no rodapé.</h4>
          <h4 class="col-xs-offset-1">Agradecemos pela preferência. Obrigado e volte sempre.</h4>
          <h4 class="col-xs-offset-1">Atenciosamente, equipe Vida Saudável</h4>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
