<footer id="area-fixed">
  <div class="container">
    <ul id="list-footer" class="list-unstyled">
      <li>
        <%=link_to t('about'), about_path %>
      </li>
      <li>
        <%=link_to t('help'), help_path %>
      </li>
      <li>
        <%=link_to t('contact'), new_contact_path %>
      </li>
      <li>
        <a href="#"><%= t('terms_use') %></a>
      </li>
      <li>
        <a href="#"><%= t('privacy_policy') %></a>
      </li>
      <li id="item">
        <span><i class="fa fa-copyright"></i> © <%= t('life_healthy') %></span>
      </li>
    </ul>
  </div
</footer>
