<%= render "publics/navbarpublic" %>
<div class="page-container">
  <div class="container">
    <ul class="list-inline">
      <li>
        <%= link_to '',new_user_session_path, class: 'fa fa-home fa-2x', title: 'Home' %>
      </li>
      <li class="lead">
        >
      </li>
      <li>
        <i title="<%= t('about') %>" class="fa fa-info-circle fa-2x"></i>
      </li>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body">
        <h1><%= t('about') %></h1>
        <div class="div-content">
          <h1><%= t('informations') %></h1>
          <h4 class="line-height"><%= t('informations_one') %></h4>
        </div>
        <div class="col-xs-5 col-xs-offset-3 page-content">
          <img alt="Vida Saudável logo" src="/assets/logo-big.png" class="img-responsive" />
        </div>
        <div class="div-content col-xs-12">
          <p class="lead">
            <%= t('about_one') %> <a href="#"><%= t('software_resources') %></a>
          </p>
          <p class="lead">
            <%= t('about_two') %>
          </p>
        </div>
        <div class="col-xs-12">
          <div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
                <div class="thumbnail">
                  <img class="img-responsive" src="/assets/1.jpg">
                </div>
              </li>
              <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
                <div class="thumbnail">
                  <img class="img-responsive" src="/assets/2.jpg">
                </div>
              </li>
              <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
                <div class="thumbnail">
                  <img class="img-responsive" src="/assets/5.jpg">
                </div>
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item slides active">
                <div class="slide-1">
                  <img alt="diet" src="/assets/1.jpg" class="img-responsive"/>
                </div>
                <div class="container">
                  <div class="carousel-caption">
                    <h1><%= t('about_slider_one') %></h1>
                  </div>
                </div>
              </div>
              <div class="item slides">
                <div class="slide-2">
                  <img alt="diet" src="/assets/2.jpg" class="img-responsive"/>
                </div>
                <div class="container">
                  <div class="carousel-caption">
                    <h1><%= t('about_slider_two') %></h1>
                  </div>
                </div>
              </div>
              <div class="item slides">
                <div class="slide-3">
                  <img alt="bodybuilder" src="/assets/5.jpg" class="img-responsive"/>
                </div>
                <div class="container">
                  <div class="carousel-caption">
                    <h1><%= t('about_slider_three') %></h1>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <h3><%= t('about_slider_for') %></h3>
        <%=link_to t('sing_in'), new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        <%=link_to t('login'), new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
</div>
<%= render "publics/footerpublic" %>
