<%= render 'navbarpublic' %>
<div class="page-container">
		<div class="container">
			<ul class="list-inline">
				<li>
					<%= link_to '', new_user_session_path, title: 'Home', class: 'fa fa-home fa-2x' %>
				</li>
				<li class="lead">
					>
				</li>
				<li>
					<i class="fa fa-bookmark fa-2x" title="<%= t('functions_upp') %>"></i>
				</li>
			</ul>
			<div class="panel panel-default">
				<div class="panel-body">
					<h1><%= t('functions_upp') %></h1>
					<div class="div-content">
						<h1><%= t('available_resources') %></h1>
						<h4 class="line-height"><%= t('functions_subtitle') %></h4>
					</div>
				</div>
				<div class="content-section-a">
					<div class="container">
						<div class="row">
							<div class="col-sm-push-6  col-sm-6 col-lg-4 col-lg-offset-1">
								<h2 class="section-heading"><%= t('function_two') %></h2>
								<p class="line-height">
									<%= t('function_two_answer') %>
								</p>
							</div>
							<div id="icon-one" class="col-lg-5 col-sm-pull-6  col-sm-6 text-center">
								<i class="fa fa-calendar fa-5x"></i>
							</div>
						</div>
					</div>
				</div>
					<div class="content-section-b">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-lg-5 ">
									<h2 class="section-heading text-center"><%= t('function_three') %></h2
									<p class="line-height">
										<%= t('function_three_answer') %>
									</p>
								</div>
								<div class="col-sm-6 col-lg-4 col-lg-offset-2 text-center">
									<i id="icon-two" class="fa fa-cutlery fa-5x"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section-a">
						<div class="container">
							<div class="row">
								<div class="col-sm-push-6  col-sm-6 col-lg-4 col-lg-offset-1">
									<h2 class="section-heading"><%= t('function_for') %></h2>
									<p class="line-height">
										<%= t('function_for_answer') %>
									</p>
								</div>
								<div class="col-lg-5 col-sm-pull-6  col-sm-6 text-right">
									<i id="icon-three" class="fa fa-bullseye fa-5x"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section-b">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 col-lg-5 ">
									<h2 class="section-heading text-center"><%= t('function_five') %></h2
									<p class="line-height">
										<%= t('function_five_answer') %>
									</p>
								</div>
								<div class="col-sm-6 col-lg-4 col-lg-offset-2 text-right">
									<i id="icon-for" class="fa fa-book fa-5x"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section-a">
						<div class="container">
							<div class="row">
								<div class="col-sm-push-6  col-sm-6 col-lg-4 col-lg-offset-1">
									<h2 class="section-heading"><%= t('function_six') %></h2>
									<p class="line-height">
										<%= t('function_six_answer') %>
									</p>
								</div>
								<div class="col-lg-5 col-sm-pull-6  col-sm-6 text-center">
									<i id="icon-five" class="fa fa-database fa-5x"></i>
								</div>
							</div>
						</div>
					</div>
						<div class="content-section-b">
							<div class="container">
								<div class="row">
									<div class="col-sm-6 col-lg-5 ">
										<h2 class="section-heading text-center">Dashboard</h2
										<p>
											<%= t('function_seven_answer') %>
										</p>
									</div>
									<div class="col-sm-6 col-lg-4 col-lg-offset-2 text-center">
										<i id="icon-six" class="fa fa-dashboard fa-5x"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="content-section-a">
							<div class="container">
								<div class="row">
									<div class="col-sm-push-6 col-sm-6 col-lg-4 col-lg-offset-1">
										<h2 class="section-heading"><%= t('function_heigth') %></h2>
										<p class="line-height">
											<%= t('function_heigth_answer') %>
										</p>
									</div>
									<div class="col-lg-5 col-sm-pull-6  col-sm-6 text-center">
										<i id="icon-seven" class="fa fa-tablet fa-5x"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="content-section-b">
							<div class="container">
								<div class="row">
									<div class="col-sm-6 col-lg-5">
										<h2 class="section-heading text-center">E-mails</h2
										<p>
											<%= t('function_nine_answer') %>
										</p>
									</div>
									<div class="col-sm-6 col-lg-4 col-lg-offset-2 text-center">
										<i id="icon-eight" class="fa fa-envelope fa-5x margin"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render 'footerpublic' %>
