<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1 min-height">
          <h1 class="col-xs-offset-1"><i class="fa fa-certificate"></i> <%= t('ratings') %></h1>
          <h4 class="col-xs-offset-1"><%= t('ratings_patient_one') %></h4>
          <div class="table-responsive col-xs-12 div-content">
            <table class="table table-hover">
              <tr>
                <td class="text-center"><strong><%= t('date_of') %></strong></td>
                <td class="text-center"><strong><%= t('patient') %></strong></td>
                <td class="text-center"><strong><%= t('fat_percentage') %></strong></td>
                <td class="text-center"><strong><%= t('options') %></strong></td>
              </tr>
              <% current_patient.ratings.each do |rating| %>
                <tr>
                  <td class="text-center"><%= rating.date.strftime("%d/%m/%y") %></td>
                  <td class="text-center"><%= rating.patient.name %></td>
                  <td class="text-center"><%= rating.getBF %></td>
                  <td class="text-center"><%= link_to '', rating_path(rating, format: :pdf), title: 'Clique para abrir em pdf', class: 'btn btn-default btn-sm fa fa-file-pdf-o', target: '_blank' %> </td>
                </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
