<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1 min-height">
          <h1 class="col-xs-offset-1"><i class="fa fa-certificate"></i> Avaliações</h1>
          <h4 class="col-xs-offset-1">Tenha acesso a todas as avaliações de seus pacientes de todas as suas clínicas, adicione novas, edite-as...</h4>
          <div class="div-content">
            <a href="/newrating" class="btn btn-primary margin col-xs-offset-1"><i class="fa fa-plus-circle"></i> Cadastrar Nova Avaliação</a>
          </div>
          <div class="table-responsive col-xs-12 div-content">
            <table class="table table-hover">
              <tr>
                <td class="text-center"><strong>Data</strong></td>
                <td class="text-center"><strong>Paciente</strong></td>
                <td class="text-center"><strong>Percentual de Gordura</strong></td>
                <td class="text-center"><strong>Opções</strong></td>
              </tr>
              <% @ratings_for_user.each do |rating| %>
                <tr>
                  <td class="text-center"><%= rating.date %></td>
                  <td class="text-center"><%= rating.patient.name %></td>
                  <td class="text-center"><%= rating.getBF %></td>
                  <td class="text-center"><%= link_to '', rating_path(rating, format: :pdf), title: 'Details', class: 'btn btn-success btn-xs fa fa-ellipsis-h' %> <%= link_to '', edit_rating_path(rating), title: 'Editar', class: 'btn btn-primary btn-xs fa fa-pencil' %> <%= link_to '', rating, method: :delete, data: { confirm: 'Are you sure?' } , title: 'Delete', class: 'btn btn-danger btn-xs fa fa-times'%></td>
                </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
