<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @rating.patient %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rating.date %>
</p>

<p>
  <strong>Handlediameter:</strong>
  <%= @rating.handleDiameter %>
</p>

<p>
  <strong>Kneediameter:</strong>
  <%= @rating.kneeDiameter %>
</p>

<p>
  <strong>Leg:</strong>
  <%= @rating.leg %>
</p>

<p>
  <strong>Belly:</strong>
  <%= @rating.belly %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @rating.chest %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
