<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Avaliação Física</title>
		<%= javascript_include_tag "https://www.google.com/jsapi" %>
		<%= wicked_pdf_javascript_include_tag "chartkick" %>
	</head>
	<body>
    <h1 style="text-align: center;">Avaliação Física</h1>
    <table border="1px">
      <thead>
        <tr>
          <td colspan="6" style="text-align: center; background-color: #489CDF;">
            <strong>Identificação do Aluno</strong>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 100px; text-align: center;">
            <strong>Nome:</strong>
          </td>
          <td style="width: 200px; text-align: center;">
            <%= @rating.patient.name %>
          </td>
          <td style="width: 200px; text-align: center;">
            <strong>Sexo:</strong>
          </td>
          <td style="width: 200px; text-align: center;">
            <%= @rating.patient.genre %>
          </td>
        </tr>
        <tr>
          <td style="width: 100px; text-align: center;">
            <strong>Idade:</strong>
          </td>
          <td style="width: 200px; text-align: center;">
            <%= @rating.patient.getAge %>
          </td>
          <td style="width: 200px; text-align: center;">
            <strong>Objetivo:</strong>
          </td>
          <td style="width: 200px; text-align: center;">
            <%= @rating.patient.objective %>
          </td>
        </tr>
        <tr>
          <td style="width: 100px; text-align: center;">
            <strong>Peso (kg)</strong>
          </td>
          <td style="width: 200px; text-align: center;">
						<%= @rating.patient.weighings.last.weight %>
          </td>
          <td style="width: 200px; text-align: center;">
            <strong>Altura (m)</strong>
          </td>
          <td style="width: 200px; text-align: center;">
            <%= @rating.patient.heigth.round(2) %>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <strong>Clínica:</strong>
          </td>
          <td colspan="2" style="text-align: center;">
            <%= @rating.patient.clinic.name %>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" style="text-align: center; background-color: #489CDF;">
            <strong>Observações:</strong>
          </td>
        </tr>
        <tr>
          <td colspan="4">
          	<%= @rating.patient.observations %>
          </td>
        </tr>
      </tfoot>
    </table>
    <table border="1px" style="margin-top: 35px;">
      <thead>
        <tr>
          <td colspan="7" style="text-align: center; background-color: #489CDF;">
            <strong>Antopométrica</strong>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" style="text-align: center; background-color: #CCEEFF;">
            <strong>Dobras Cutâneas (mm)</strong>
          </td>
          <td colspan="3" style="text-align: center; background-color: #CCEEFF">
            <strong>Circunferência (cm)</strong>
          </td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: center;">
            <strong>Coxa</strong>
          </td>
          <td style="width: 100px; text-align: center;">
            <%= @rating.leg %>
          </td>
          <td style="width: 150px; text-align: center;">
            <strong>Braço (dir/esq)</strong>
          </td>
          <td style="width: 100px; text-align: center;">
            <%= @rating.patient.getBicepsRigthSize %>
          </td>
          <td style="width: 100px; text-align: center;">
            <%= @rating.patient.getBicepsLeftSize %>
          </td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: center;">
            <strong>Peito</strong>
          </td>
          <td style="width: 100px; text-align: center;">
						<%= @rating.chest %>
          </td>
          <td style="width: 150px; text-align: center;">
            <strong>Abdomen</strong>
          </td>
          <td colspan="2" style="text-align: center;">
            <%= @rating.patient.getBellySize %>
          </td>
        </tr>
        <tr>
          <td style="width: 150px; text-align: center;">
            <strong>Abdomen</strong>
          </td>
          <td style="width: 100px; text-align: center;">
            <%= @rating.belly %>
          </td>
          <td style="width: 150px; text-align: center;">
            <strong>Quadril</strong>
          </td>
          <td colspan="2" style="text-align: center;">
            <%= @rating.patient.getHipsSize %>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="width: 150px; text-align: center;">
            -
          </td>
          <td style="width: 150px; text-align: center;">
            <strong>Cintura</strong>
          </td>
          <td colspan="2" style="text-align: center;">
            <%= @rating.patient.getWaistSize %>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            -
          </td>
          <td style="width: 200px; text-align: center;">
            <strong>Coxa (dir/esq)</strong>
          </td>
          <td style="width: 100px; text-align: center">
            <%= @rating.patient.getLegRigthSize %>
          </td>
          <td style="width: 100px; text-align: center">
            <%= @rating.patient.getLegLeftSize %>
          </td>
        </tr>
      </tbody>
    </table>
		<table border="1px" style="margin-top: 35px;">
			<tr>
				<td colspan="2" style="text-align: center; background-color: #489CDF;">
					<strong>Composição Corporal</strong>
				</td>
			</tr>
			<tr>
				<td style="width: 350px; text-align: center;">
					<strong>Massa Magra (kg)</strong>
				</td>
				<td style="width: 350px; text-align: center;">
					<%= @rating.getLeanMass %>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<strong>Percentual de Gordura</strong>
				</td>
				<td style="text-align: center;">
					<%= @rating.getBF %>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; background-color: #FFFF00;">
						<strong>Classificação</strong>
				</td>
				<td style="text-align: center; background-color: #FEFF99;">
					<%= @rating.getBFClassification %>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<strong>Massa gorda (kg)</strong>
				</td>
				<td style="text-align: center;">
					<%= @rating.getFatWeight %>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<strong>Massa Muscular (kg)</strong>
				</td>
				<td style="text-align: center;">
					<%= @rating.getMuscularWeight %>
				</td>
			</tr>
			<tr>
				<td style="text-align: center;">
					<strong>Massa Óssea (kg)</strong>
				</td>
				<td style="text-align: center;">
					<%= @rating.getOsseousWeight %>
				</td>
			</tr>
			<tr>
				<td style="text-align: center">
					<strong>Massa Residual (kg)</strong>
				</td>
				<td style="text-align: center">
					<%= @rating.getResidualWeight %>
				</td>
			</tr>
		</table>
		<div style="padding-left: 190px;">
				<%= pie_chart({"Massa Gorda" => @rating.getFatWeight, "Massa Óssea" => @rating.getOsseousWeight, "Massa Residual" => @rating.getResidualWeight, "Massa Muscular" => @rating.getMuscularWeight}) %>
		</div>
		<table border="1px">
			<thead>
				<tr>
					<td style="text-align: center; background-color: #489CDF; width: 700px; ">
							<strong>IMC</strong>
					</td>
				</tr>
				<tr>
					<td style="text-align: center; width: 700px;">
						<%= @rating.getIMC %> kg/m²
					</td>
				</tr>
				<tr>
					<td style="text-align: center; width: 700px; background-color: #FFFF00;">
						<strong>Classificação</strong>
					</td>
				</tr>
				<tr>
					<td style="text-align: center; width: 700px;  background-color: #FEFF99; ">
						<%= @rating.getImcClassification %>
					</td>
				</tr>
			</thead>
		</table>
	</body>
</html>
