<h1><%= t('contact_message') %></h1>
<h2><%= t('send_date') %> <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

<p><strong><%= t('visitor') %> </strong><%= @contact['name'] %></p>

<p><strong>Email: </strong><%= @contact['email'] %></p>

<% if @contact['subject'].present? %>
  <p><strong><%= t('subject') %> </strong><%= @contact['subject'] %></p>
<% end %>

<p><strong><%= t('message') %></strong></p>
<p><%= @contact['message'] %></p>
