<%= form_for([:admin, @compromise]) do |f| %>
<%= error_messages(@compromise) %>
<div class="form-horizontal">
  <legend>
    <i class="fa fa-tags"></i>
    <%= t('general_data') %>
  </legend>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="nome"><%= t('title') %></label>
    <div class="col-sm-9">
      <%= f.text_field :title, :placeholder => t('write_compromise'), class: 'form-control' %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="date"><%= t('date_of') %></label>
    <div class="col-sm-9">
      <%= f.date_select :date %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="hora"><%= t('hour') %> </label>
    <div class="col-sm-9">
      <%= f.time_select :schedule %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="description"><%= t('description') %></label>
    <div class="col-sm-9">
      <%= f.text_area :description, :placeholder => t('compromise_description') , class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-5">
      <button class="btn btn-primary btn-lg" type="submit">
        <i class="fa fa-save"></i>
        <%= t('save') %>
      </button>
    </div>
  </div>
</div>
<% end %>
