<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1 min-height">
          <h1 class="col-xs-offset-1"><i class="fa fa-arrows-v"></i> <%= t('measurements') %></h1>
          <h4 class="col-xs-offset-1"><%= t('measurements_one') %></h4>
          <div class="div-content">
						<%= link_to t('register_measurement1'), new_measurement_path, class: 'btn btn-primary col-xs-offset-1 fa fa-plus-circle margin' %>
          </div>
          <div class="table-responsive col-xs-12 div-content">
            <table class="table table-hover">
              <tr>
								<td class="text-center"><strong><%= t('date_of') %></strong></td>
                <td class="text-center"><strong><%= t('patient') %></strong></td>
                <td class="text-center"><strong><%= t('name_measure') %></strong></td>
                <td class="text-center"><strong><%= t('size') %></strong></td>
								<td class="text-center"><strong><%= t('options') %></strong></td>
              </tr>
              <% @measurements_for_user.each do |measurement| %>
                <tr>
                  <td class="text-center"><%= measurement.date %></td>
                  <td class="text-center"><%= measurement.patient.name %></td>
                  <td class="text-center"><%= measurement.nameMeasure %></td>
                  <td class="text-center"><%= measurement.size %></td>
                  <td class="text-center"><%= link_to '', measurement, title: t('details'), class: 'btn btn-success btn-xs fa fa-ellipsis-h' %> <%= link_to '', edit_measurement_path(measurement), title: t('edit'), class: 'btn btn-primary btn-xs fa fa-pencil' %> <%= link_to '', measurement, method: :delete, data: { confirm: t('sure') }, title:'Delete', class: 'btn btn-danger btn-xs fa fa-times'  %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
