<div class="nested-fields">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('exercise') %></h3>
    </div>
    <div class="panel-body form-horizontal">
      <div class="form-group field">
        <label for="nome" class="control-label col-sm-2"><%= t('name') %></label>
        <div class="col-sm-9">
          <%= f.text_field :name, class:'form-control', :placeholder => t('name_exercise') %>
        </div>
      </div>
      <div class="form-group field">
        <label for="descricao" class="control-label col-sm-2"><%= t('description') %></label>
        <div class="col-sm-9">
            <%= f.text_area :description, class: 'form-control', :placeholder => t('description_exercise') %>
        </div>
      </div>
      <div class="form-group field">
        <label for="series" class="control-label col-sm-2"><%= t('series') %></label>
        <div class="col-sm-9">
            <%= f.number_field :series, min: '1', class:'form-control', :placeholder => t('number_series') %>
        </div>
      </div>
      <div class="form-group field">
        <label for="repeticoes" class="control-label col-sm-2"><%= t('repeats') %></label>
        <div class="col-sm-9">
            <%= f.text_field :repeats, class: 'form-control', :placeholder => t('number_repeats') %>
        </div>
      </div>
      <div class="form-group field">
        <label for="duracao" class="control-label col-sm-2"><%= t('duration') %></label>
        <div class="col-sm-9">
              <%= f.time_select :duration %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to_remove_association t('remove_exercise'), f, :class => "btn btn-danger" %>
    </div>
  </div>
</div>
