<%= simple_form_for(@diet) do |f| %>
<%= f.error_notification %>
  <div class="form-horizontal">
    <legend>
      <i class="fa fa-tags"></i> Dados Gerais
    </legend>
    <div class="form-group field">
      <label for="patient" class="col-sm-3 control-label">Paciente</label>
      <div class="col-sm-9">
        <%= f.collection_select(:patient_id, current_user.patients, :id, :name, prompt: 'Por favor selecione o paciente' , class: 'form-control') %>
      </div>
    </div>
    <div class="form-group field">
      <label for="dataStart" class="col-sm-3 control-label">Data de Início</label>
      <div class="col-sm-9">
        <%= f.date_select :dateStart, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group field">
      <label for="dateEnd" class="col-sm-3 control-label">Date de Término</label>
      <div class="col-sm-9">
        <%= f.date_select :dateEnd, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group field">
      <label for="kind" class="control-label col-sm-3">Tipo de Dieta</label>
      <div class="col-sm-9">
          <%= f.select("kind", %w(Hipertrofia Emagrecimento), {include_blank: "Selecione o tipo da dieta"},class:'form-control') %>
      </div>
    </div>
    <div class="div-content">
        <legend><i class="fa fa-star"></i> Refeições</legend>
        <h5 class="text-danger">
          Clique para adicionar novas refeições à dieta.
        </h5>
        <div>
          <%= f.simple_fields_for :meals do |meal| %>
          <%= render "meal_fields", :f => meal %>
          <% end %>
        </div>
        <%= link_to_add_association 'Adicionar Refeição', f, :meals, class:'btn btn-primary'%>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-4">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Salvar</button>
          </div>
        </div>
    </div>
  </div>
<% end %>
