<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1">
          <h1 class="col-xs-offset-1"><i class="fa fa-cutlery"></i> <%= t('edit_diet') %> </h1>
          <h4 class="col-xs-offset-1"><%= t('edit_diet_one') %></h4>
          <div class="div-content">
            <div class="panel panel-default col-xs-10 col-xs-offset-1">
                  <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
