<%= form_for(@appointment) do |f| %>
<%= error_messages(@appointment) %>
<div class="form-horizontal">
  <legend>
    <i class="fa fa-tags"></i>
    Dados Gerais
  </legend>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="data">Data</label>
    <div class="col-sm-9">
      <%= f.date_select :dateAppointment %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="horario">Horario</label>
    <div class="col-sm-9">
      <%= f.time_select :schedule %>
    </div>
  </div>
  <div class="form-group field">
    <label class="col-sm-2 control-label" for="preco">Preco</label>
    <div class="col-sm-9">
      <%= f.text_field :price, :placeholder => 'Digite o valor da consulta', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group field">
    <label class="control-label col-sm-2" for="description">Descricao</label>
    <div class="col-sm-9">
      <%= f.text_area :description, :placeholder => 'Digite a descricao geral da consulta', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group field">
    <label class="control-label col-sm-2" for="description">Paciente</label>
    <div class="col-sm-9">
      <%= f.collection_select(:patient_id, current_user.patients, :id, :name, prompt: 'Por favor selecione o paciente' , class: 'form-control') %>
    </div>
  </div>
  <div class="form-group field">
    <label class="control-label col-sm-2" for="description">Clinica</label>
    <div class="col-sm-9">
      <%= f.collection_select(:clinic_id, current_user.clinics, :id, :name, prompt: 'Por favor selecione a clínica', class: 'form-control') %>
    </div>
  </div>
  <div class="field">
    <%= f.text_field :user_id,value:current_user.id ,class: "hidden-xs hidden-sm hidden-md hidden-lg hidden-xl" %>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-5">
      <button class="btn btn-primary btn-lg" type="submit">
        <i class="fa fa-save"></i>
        Salvar
      </button>
    </div>
  </div>
</div>
<% end %>
