<div class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<%= render "privates/navbarprivate" %>
		</header>
		<aside class="main-sidebar">
			<%= render "privates/menubar" %>
		</aside>
		<div class="content-wrapper">
      <div class="perfil-content">
        <div class="panel panel-default col-xs-10 col-xs-offset-1 min-height">
          <h1 class="col-xs-offset-1"><i class="fa fa-book"></i> <%= t('appointments') %></h1>
          <h4 class="col-xs-offset-1"><%= t('appointments_patient_one') %></h4>
          <div class="div-content">
            <%= link_to t('register_new_appointment'), new_appointment_path, class: 'col-xs-offset-1 margin btn btn-primary fa fa-plus-circle' %>
          </div>
          <div class="table-responsive col-xs-12 div-content">
            <table class="table table-hover">
              <tr>
                <td class="text-center"><strong><%= t('date_of') %></strong></td>
                <td class="text-center"><strong><%= t('patient') %></strong></td>
                <td class="text-center"><strong><%= t('clinic') %></strong></td>
                <td class="text-center"><strong><%= t('hour') %></strong></td>
                <td class="text-center"><strong><%= t('price') %></strong></td>
                <td class="text-center"><strong><%= t('description') %></strong></td>
                <td class="text-center"><strong><%= t('options') %></strong></td>
              </tr>
              <% current_patient.appointments.each do |appointment| %>
                <tr>
                  <td class="text-center"><%= appointment.dateAppointment %></td>
                  <td class="text-center"><%= appointment.patient.name %></td>
                  <td class="text-center"><%= appointment.clinic.name %></td>
                  <td class="text-center"><%= appointment.schedule %></td>
                  <td class="text-center"><%= appointment.price %></td>
                  <td class="text-center"><%= appointment.description %></td>
                  <td class="text-center"><%= link_to '', appointment, title: t('details'), class: 'btn btn-success btn-xs fa fa-ellipsis-h' %> <%= link_to '', appointment, method: :delete, data: { confirm: t('sure') }, title:'Delete', class: 'btn btn-danger btn-xs fa fa-times'  %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
	<%= render "privates/footerprivate" %>
</div>
